@import "tailwindcss";

* {
  font-family:
    "Plus Jakarta Sans",
    "Noto Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  letter-spacing: -0.01em;
  box-sizing: border-box;
}


